$mainBgColor: #061838;
$mainFontColor: #ece4e2;

$navbarBgColor: #061838;
$navbarFontColor: #ece4e2;
$borderColor: #061838;
$bgColor: #ece4e2;
$fontColor: #061838;

$BtnBorderColor: #ff6443;
$BtnFontColor: #ece4e2;
$BtnBgColor: #061838;
